h1
{
    font-family: 'Roboto thin', sans-serif;
    font-weight: 100;
    color: #fff;
    font-size: 35px;
    line-height: 120%;
    padding: 10px;
    margin: 0px;
}

h6
{
    font-family: 'Roboto thin', sans-serif;
    font-weight: 100;
    color: #fff;
    font-size: 16px;
    line-height: 120%;
     padding: 0px;
    margin: 0px;
    text-decoration: none;
}

.centrado-porcentual {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
	z-index: 10;
    
}

.pattern {
	position: absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	overflow: hidden;
    background-repeat: repeat;
	z-index: 2;
}

.boton_full {
background: #0cbfb0;
padding: 10px 40px 10px 40px;
border: 0px solid #ffffff;
}

.boton_border {
background: rgba(255,255,255,0.7);
padding: 10px 40px 10px 40px;
border: 0px solid rgba(66,66,66,0.3);
}

.header {
    -moz-transition: 0.4s ease-in-out all;
    -webkit-transition: 0.4s ease-in-out all;
    transition: 0.4s ease-in-out all;
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    background: rgba(255,255,255,1);
    border-bottom: 2px solid #0dcdbd;
    display: table;
    width: 100%;
    z-index: 50;
    position: fixed;
    top: 0px;
    left: 0px;
	height: 60px;
	text-align: center;
}

.sidebar-left
{
	/*
    box-shadow: 3px 0px 0px 0px rgba(50, 50, 50, 0.2);
    */
    background: rgba(255,255,255,1);
    border-right: 0px solid #0dcdbd;
    padding: 0px;
	width: 250px;
}

.sidebar-right
{
	/*
    box-shadow: -3px 0px 0px 0px rgba(50, 50, 50, 0.2);
    */
    background: rgba(255,255,255,1);
    border-left: 2px solid #0dcdbd;
    padding: 0px;
	width: 250px;
}

.foto_perfil {
    margin: auto;
    width: 80px;
    height: 80px;
    margin-top: -50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    opacity: 1;
    border: 4px solid #fff;
}



/* -----------------------------------------------------------------------------

  WRAPPER OBJECT
  
----------------------------------------------------------------------------- */
.o-wrapper {
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

/* -----------------------------------------------------------------------------

  CONTAINER OBJECTS
  
----------------------------------------------------------------------------- */
.o-container {
  margin: 0 auto;
  padding: 0 12px;
  max-width: 960px;
}

@media all and (min-width: 480px) {
  .o-container {
    padding: 0 24px;
  }
}
@media all and (min-width: 720px) {
  .o-container {
    padding: 0 48px;
  }
}



/* -----------------------------------------------------------------------------

  SUB-NAVIGATION OBJECT
  
----------------------------------------------------------------------------- */
.o-sub-nav {
  margin: 0 0 24px 0;
  padding: 0;
}

.o-sub-nav__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.o-sub-nav__item {
  margin: 0;
  padding: 4px;
}

.o-sub-nav__link {
  display: block;
  margin: 0;
  padding: 4px 24px;
  border: solid 2px #67b5d1;
}

.o-sub-nav__link:hover,
.o-sub-nav__item.active .o-sub-nav__link {
  color: #fff;
  background-color: #67b5d1;
}

@media all and (min-width: 720px) {
  .o-sub-nav {
    margin: 0 0 48px 0;
  }
}

/* -----------------------------------------------------------------------------

  SLIDE AND PUSH MENUS COMPONENT
  
----------------------------------------------------------------------------- */
/**
 * Menu overview.
 */
.c-menu {
  position: fixed;
  z-index: 200;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.c-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Left and right menus
 *
 * Slide and push menus coming in from the left and right inherit a lot of
 * common styles. We'll start each of them off by doing up the common styles
 * for each version, followed by individual styles.
 *
 * The various versions are governed by modifier classes.
 */
/**
 * Common modifiers for left/right menus.
 */
.c-menu--slide-left,
.c-menu--slide-right,
.c-menu--push-left,
.c-menu--push-right {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
@media all and (min-width: 320px) {
  .c-menu--slide-left,
  .c-menu--slide-right,
  .c-menu--push-left,
  .c-menu--push-right {
    width: 240px;
  }
  
   .c-menu--slide-left
 {
    width: 60px;
  }
}





/**
 * Slide/Push Menu Left.
 */
.c-menu--slide-left,
.c-menu--push-left {
  top: 0;
  left: 0;
      border-right: 0px solid #0dcdbd;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
@media all and (min-width: 320px) {
  .c-menu--slide-left,
  .c-menu--push-left {
    -webkit-transform: translateX(-70px);
        -ms-transform: translateX(-70px);
            transform: translateX(-70px);
  }
}

.c-menu--slide-left.is-active,
.c-menu--push-left.is-active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

/**
 * Slide/Push Menu Right.
 */
.c-menu--slide-right,
.c-menu--push-right {
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}
@media all and (min-width: 320px) {
  .c-menu--slide-right,
  .c-menu--push-right {
    -webkit-transform: translateX(240px);
        -ms-transform: translateX(240px);
            transform: translateX(240px);
  }
}

.c-menu--slide-right.is-active,
.c-menu--push-right.is-active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}


/**
 * Top and bottom menus
 *
 * Slide and push menus coming in from the top and bottom inherit a lot of
 * common styles. We'll start each of them off by doing up the common styles
 * for each version, followed by individual styles.
 *
 * The various versions are governed by modifier classes.

/**
 * Common modifiers for top/bottom menus
 */
.c-menu--slide-top,
.c-menu--slide-bottom,
.c-menu--push-top,
.c-menu--push-bottom {
  vertical-align: middle;
  width: 100%;
  height: 250px;
  text-align: center;
  overflow-x: scroll;
}

.c-menu--slide-top .c-menu__items,
.c-menu--slide-bottom .c-menu__items,
.c-menu--push-top .c-menu__items,
.c-menu--push-bottom .c-menu__items {
  display: inline-block;
  text-align: center;
}

.c-menu--slide-top .c-menu__item,
.c-menu--slide-bottom .c-menu__item,
.c-menu--push-top .c-menu__item,
.c-menu--push-bottom .c-menu__item {
  display: inline-block;
  line-height: 250px;
}

.c-menu--slide-top .c-menu__link,
.c-menu--slide-bottom .c-menu__link,
.c-menu--push-top .c-menu__link,
.c-menu--push-bottom .c-menu__link {
  display: block;
  padding: 0 4px;
  color: #fff;
}

.c-menu--slide-top .c-menu__close,
.c-menu--slide-bottom .c-menu__close,
.c-menu--push-top .c-menu__close,
.c-menu--push-bottom .c-menu__close {
  display: inline-block;
  margin-right: 12px;
  padding: 0 24px;
  height: 250px;
  line-height: 250px;
}


/**
 * Slide/Push Menu Bottom.
 */
.c-menu--slide-bottom,
.c-menu--push-bottom {
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(250px);
      -ms-transform: translateY(250px);
          transform: translateY(250px);
}

.c-menu--slide-bottom.is-active,
.c-menu--push-bottom.is-active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}


/* -----------------------------------------------------------------------------

  MASK COMPONENT
  
----------------------------------------------------------------------------- */
.c-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  -webkit-transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
          transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

.c-mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  -webkit-transition: opacity 0.3s;
          transition: opacity 0.3s;
}


.c-menu__item
{
    
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    color: #666;
    display: block;
    padding: 6px 24px;
    margin: 0px;

    list-style: none;
  
}

.c-menu__item:hover {
    display: block;
    padding: 6px 24px;
    color: #666;
}

.titulo_menu {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #666;
}


.main-nav 
{
margin-left: -14px;
}

.ui-link
{
width: 60px;
height: 60px;
padding: 10px;
cursor: pointer;
}

.icono_menu_izquierda
{
width: 60px;
height: 60px;
padding: 10px;
cursor: pointer;
}
/* Navigation Links */
.main-nav ul li:nth-child(1){
background-color:#61c6cc;
}
.main-nav ul li:nth-child(2){
background-color:#59bcc2;
}
.main-nav ul li:nth-child(3){
background-color:#50b5bb;
}
.main-nav ul li:nth-child(4){
background-color:#44a9af;
}
.main-nav ul li:nth-child(5){
background-color:#3da1a7;
}
.main-nav ul li:nth-child(6){
background-color:#37999f;
}
.main-nav ul li:nth-child(7){
background-color:#2f9096;
}
.main-nav ul li:nth-child(8){
background-color:#27858b;
}
.main-nav ul li:nth-child(9){
background-color:#207a80;
}
.main-nav ul li:nth-child(10){
background-color:#1b747a;
}
.main-nav ul li:nth-child(11){
background-color:#176d72;
}
.main-nav ul li:nth-child(12){
background-color:#14656a;
}
.main-nav ul li:nth-child(13){
background-color:#105d62;
}
.main-nav ul li:nth-child(14){
background-color:#0e565b;
}
.main-nav ul li:nth-child(15){
background-color:#0b4f53;
}
.main-nav ul li:nth-child(16){
background-color:#08494d;
}
.main-nav ul li:nth-child(17){
background-color:#064347;
}
.main-nav ul li:nth-child(18){
background-color:#043a3d;
}
.main-nav ul li:nth-child(19){
background-color:#033134;
}
.main-nav ul li:nth-child(20){
background-color:#022628;
}

*{
-webkit-user-drag: none;
-moz-user-drag: none;
-ms-user-drag: none;
user-drag: none;
}

*
{
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

input
{
-webkit-user-select: auto !important;
-khtml-user-select: auto !important;
-moz-user-select: auto !important;
-ms-user-select: auto !important;
user-select: auto !important;
}

*
{
-webkit-touch-callout: none;
-moz-touch-callout: none;
-ms-touch-callout: none;
touch-callout: none;
}
